<h1>Dr. <%= @doctor.name %></h1>

Specialty: <%= @doctor.specialty %><br>
University: <%= @doctor.university %><br>
Hospital: <%= @doctor.hospital.name %><br><br>

<h3>Patients</h3>
<% @doctor.patient_rosters.each do |roster_patient| %>
  <div id="patient-<%= roster_patient.patient.id %>">
    <%= roster_patient.patient.name %>
    <%= button_to 'Remove from caseload', patient_roster_path(roster_patient), method: :delete %><br>
  </div>
<% end %>
